/videos
/concat.txt
/docs
/config.py
/server/config.php
/server/vendor
/__pycache__
/error_log.txt
/record_here
/record_here_obws
/record_here_long
/server/streams/*.txt
/server/thumbnails
/server/example_videos
/del.py
/server/get/old_srteam
/testDir