:root {
    --grey1: #202225;
    --grey2: #2F3136;
    --grey3: #36393F;
    --grey4: #40444B;
  }
  

body {
    background-color: var(--grey2);
}
.grey2 {
    background-color: var(--grey2);
}
.grey1 {
    background-color: var(--grey1);
}

.float-right {
    float: right;
}

.new-stream-form {
    max-width: 600px;
    margin: auto;
}
input, label, textarea {
    border: none !important;
    padding: 12px 16px !important;
    color: #FFF;
    font-size: 110%;
    border-radius: 10px;
}
input, label, textarea, button {
    background-color: var(--grey4);
}
input[type="radio"]+label {
    cursor: pointer;
    background-color: var(--grey2);
}
input[type="radio"]:checked+label, button, .btn-grey4 {
    background-color: var(--grey4);
}
input[type="radio"]+label {
    cursor: pointer;
}
input[type="radio"] {
    display: none;
}

.video-row img, .video-row-img-height {
    height: 150px;
}

nav a:hover {
    background-color: var(--grey2);
    color: #fff;
    text-decoration: none;
}
nav a p {
    margin-bottom: 0px;
}

.inline-block {
    display: inline-block;
}
.div-table {
    display: table;
	width: 100%;
}
.video-row {
    display: table-row;
}
.video-cell {
    display: table-cell;
    border-collapse: collapse;
    vertical-align: top;
}

.video-cell h4 {
    margin-left: 10px;
    margin-top: 0px;
}
.video-cell p {
    margin-left: 10px;
    color: grey;
}

.video-cell p span {
    color: var(--grey4);
    overflow: hidden;
    max-width: 100px;
    display: inline-grid;
}

.w3-row-padding img {
    margin-bottom: 12px
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: var(--grey1);
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}